html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #cad3e2;
  text-align: center;
  color: #3b3b4e;
  
}
img {
  width: 330px;
  height: 250px;
  border-radius: 20px;
}
.clod {
  width: 380px;
  height: 250px;
  border-radius: 20px;
}
.family {
  width: 480px;
  height: 280px;
  border-radius: 20px;
}